<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Скатился | Официальный сайт</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <div class="block-events-header">
            <a href="/"><h1 id="up">СКАТИЛСЯ</h1></a>
        </div>
        <div class="main-event-container">
            <div th:if="${events.isEmpty()}" class="not-events">
                <p>Ни одного события пока нет. Скоро их тут будет много!</p>
            </div>
            <div sec:authorize="hasRole('MODERATOR')" class="event-area">
                <form  th:action="@{/addNewEventProcess}" th:object="${newEvent}" method="post">
                    <input type="hidden" th:field="*{date}" th:value="${#dates.createNow()}"/>
                    <input type="hidden" th:field="*{likes}" th:value=0/>
                    <div id="new-event-theme">
                        <label>Тема нового события: </label>
                        <label><input type="radio" checked th:field="*{theme}" th:value="История"/>История</label>
                        <label><input type="radio" th:field="*{theme}" th:value="Шутка"/>Шутка</label>
                        <label><input type="radio" th:field="*{theme}" th:value="Разное"/>Разное</label>
                    </div>
                    <textarea id="new-event-textarea" th:field="*{text}"></textarea>
                    <button class="submit-element" id="add-new-comment-button" type="submit">Добавить</button>
                </form>
            </div>
            <div th:each="event: ${events}" class="event-area">
                <div class="event-item">
                    <div class="event-item-header">
                        <label id="event-theme" th:text="${event.theme}"></label>
                        <label th:text="${#dates.format(event.date, 'dd MMMM yyyy HH:mm')}"></label>
                    </div>
                    <div class="event-delimiter"></div>
                    <div class="event-item-text">
                        <label id="event-text" th:text="${event.text}"></label>
                    </div>
                    <div class="event-item-likes">
                        <label id="event-likes" th:text="${event.likes}"></label>
                        <img src="../images/hearth-button.png"/>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>